body {
  font-family: sans-serif;
  padding: 20px;
  background: #f9f9f9;
}

input {
  padding: 8px;
  width: 250px;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

#miniBrowser {
  margin-top: 20px;
}
